.users {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border: 2px solid #003b64;
    border-radius: 15px;
    box-shadow: 0 0 2em #4d80a4 inset;
    overflow: scroll;

    p {
        margin-left: 10px;
    }
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80vh;
    width: 60vw;
    float: left;
    margin-right: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 20vw;
    float: right;
}

.title {
    width: 100%;
    text-align: left;
    background-color: #003b64;
    box-shadow: 0 0 2em #4d80a4 inset;
    border-radius: 15px;

    h2,
    h3 {
        margin-left: 10px;
    }
}

.qrcode {
    box-shadow: 0 0 2em #4d80a4;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
}