button {
    margin: 0 5px 0 5px;
}

.userCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 40px;
    box-shadow: 0 0 1em #4d80a4 inset;
    border-radius: 15px;
    margin: 10px auto 0 auto;
    padding: 1em;
}

.speech {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-right: 20px;

    p {
        margin-right: 15px;
    }
}

.timeExpiredContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 74, 125, 0.5);
    z-index: 1000;
}

.timeExpired {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #014A7D;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 1em #4d80a4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}